/* Formatting for general website elements */
body {
    color: black;
    font-family: "Courier New", monospace;
    background-color: rgb(252, 255, 250);
    margin: 0px;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

td,th {
    padding: 7px;
    border: solid 1px;
    border-color: rgb(0, 100, 150);
}

th {
    background-color: rgb(200, 240, 250)
}

header {
    background: rgb(0, 100, 150);
}
/*//////////////////////////////////////////*/

/* Formatting for everything that goes in the navigation bar *//
.nav-bar {}

.nav-bar nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(60, 70, 80);
}

.nav-bar nav > ul > li {
    float: left;
}

.nav-bar nav > ul > li a {
    color: white;
    text-align: center;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Arial", "Helvetica", sans-serif
}

/* This format is for the logo*/
.nav-bar nav > ul > li p {
    color: white;
    text-align: center;
    display: block;
    padding-bottom: 14px;
    padding-top: 14px;
    padding-left: 16px;
    padding-right: 42;
    font-weight: bolder;
    margin: 0px;
    text-decoration: none;
    font-family: "Courier New", monospace;
}

/* used to highlight the current webpage in the nav bar */
.current {
  background-color: rgb(70, 90, 110);
}

.nav-bar nav > ul > li a:hover {
  background-color: #111;
}
/*//////////////////////////////////////////*/

/* Formatting for article entries on website */
/* Spaces are added to the sides of text when on a large screen, to make content easier to read */
@media screen and (min-width: 1080px){
    .text-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-gap: 0px;
    padding: 0px;
    }
}

.text-container > div {
    text-align: left;
    padding: 20px 0;
    font-size: 18px;
}

.text-container h1 {
    color: rgb(0, 100, 150);
    margin: 0px;
}

.text-container h2 {
    margin: 0px;
    color: rgb(0, 100, 150);
}

.text-container h3 {
    color: rgb(0, 100, 150);
}

.text-container img {
    width: 50%;
    padding-right: 10px;
}


@media screen and (max-width: 500px){
    .text-container img {
        width: 100%;
        padding-right: 10px;
    }
}

/* horizontal separating line that divides article into sections */
.hline { 
    width: 100%; 
    height: 2px; 
    background: rgb(200 , 100, 0);
    margin-bottom: 10px
}
/*//////////////////////////////////////////*/

/* Formatting for the title text and background image on each page (excluding homepage) */
.title-container {
    position: relative;
    max-height: 300px;
    overflow: hidden;
}

.title-background {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.title-text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px black;
}
/*//////////////////////////////////////////*/

/* Homepage fading image formatting */
.fading-img-container {
    position: relative;
    height: 150px;
    overflow: hidden;
}

@media screen and (min-width: 500px){
    .fading-img-container {
    position: relative;
    height: 300px;
    overflow: hidden;
    }
}   

@media screen and (min-width: 800px){
    .fading-img-container {
    position: relative;
    height: 500px;
    overflow: hidden;
    }
}  

.fading-img {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(0, -50%);
    width: 100%;
    height: auto;
    opacity: 0;
}
/*//////////////////////////////////////////*/

/* Homepage menu formatting */
/* for phones, sort the menu items horizontally */
@media screen and (max-width: 500px){
    .menu-container {
    grid-gap: 0px;
    padding: 0px;
    }
}

/* For displays other than phones, place menu items next to each other */
@media screen and (min-width: 500px){
    .menu-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 0px;
    padding: 0px;
    }
}

.menu-container > div {
    text-align: left;
    padding: 20px;
    font-size: 18px;
}

.menu-container > div {
    align-content: center;
    text-align: center;
    overflow: hidden;
}

.menu-container > div > p {
    color: white;
    font-size: 18px;
    padding: 0px;
    margin: 0px
}

.menu-container > div > a {
    text-decoration: underline;
    color: white;
    font-size: 25px;
    padding: 0px;
}
/*//////////////////////////////////////////*/

/* Formatting for scaling videos appropriately */
/* Video container forces a 16:9 ratio, which is standard for most video */
.video-container {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

.video 
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
/*//////////////////////////////////////////*/